body {
    background-color: #fff
    color #000;
    font-family: Helvetica, Arial, sans-serif;
}

.logo {
    filter: none;
    width: 377px;
    padding-left: 535px;
    padding-top: 36px;
    padding-bottom: 30px;
}

header {
    background-color: #fff;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1.125rem;
}

.text-700 {
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    padding: 45px
}

nav li {
    display: inline-block
}

.mycart-icon fa-solid {
    color: #000;
}

.highlight {
    background-color: #EBEBEB;
}

.cta {
    background-color: #A71515;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

}

.cta-second {
    background-color: #706F6F;
}

.back-button {
    text-decoration: none;
}

.filmcover-small {
    width: 200px;
    height: 320px

}

.filmcover-large {
    width: 360px;
    height: 477px;
}

.filmcover-product {
    width: 313px;
    height: 494px;
}

.list-films-row {
}

a {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}

.about-image {
    filter: none;
    width: 310px;
    height: 452px;
}

.contact-map {
    filter: none;
    border: 2px solid #fff;
    width: 421px;
    height: 458px
}

img {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.50));
    border-radius: 30px;
}

.signin-link {
    color: #A71515;
}

.category {
    font-size: 1rem;
}

.form__input {
    display: block;
    border-radius: 5px;
}

.radio-button {
    display: list-item;
}

footer {
    text-align: center;
    color: #545454;
    padding-top: 20px;
}

.footer-text {
    font-size: 0.825rem;
}

.fa-brands {
    color: #949494;
}