/* || GENERAL STYLES */

html {
    background-color: #000;
}

body {
    width: 1120px;
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fff
}


main {
    background-color: #fff;
}

.logo {
    filter: none;
    width: 377px;
    border-radius: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    margin-top: 0px;
    background-color: #fff;
    z-index: 1;
}
/* yes or n0 to sticky? */
.sticky-position {
    position:?????
    top: 0px;
    background: #fff;
    padding: 10px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1.125rem;
}

.text-700 {
    font-weight: 700;
}

.page-title {
    font-size: 1.5rem;
    margin-left: 170px;
    margin-top: 30px;
}

nav {
    text-decoration: none;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;

}

.mycart-icon fa-solid {
    color: #000;
}

a {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    padding: 15px;
}

a:hover {
    font-weight: 700;
}

.active {
    text-decoration: 3px underline; 
    text-decoration-color: #A71515;
}

.active-cart::after {
    content: '';
    background-color: #A71515;
    width: 29px;
    height: 3px;
    margin-top: 2px;
    display: block;
}


/* || BUTTONS */

.cta {
    background-color: #A71515;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.cta-second {
    background-color: #706F6F;
    padding-left: 8px;
    padding-right: 8px;
}

.cta:hover {
    background-color: #E40B0B;
    font-weight: 400;
}

.cta-second:hover {
    background-color: #989898;
}

.pay-button {
    padding-left: 40px;
    padding-right: 40px;
}

.back-button {
    text-decoration: none;
}

/* || IMAGES */

.filmcover-small {
    width: 200px;
    height: 320px
}

.filmcover-large {
    width: 360px;
    height: 477px;
}

.filmcover-product {
    width: 313px;
    height: 494px;
}

.about-image {
    filter: none;
    width: 310px;
    height: 452px;
    z-index: 2;
}

.contact-map {
    filter: none;
    border: 2px solid #fff;
    width: 421px;
    height: 458px
}

img {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.50));
    border-radius: 30px;
}

/* || HOMEPAGE */

.selling-point_container{
    background-color: #EBEBEB;
    width: fit-content;
    display: flex;
    margin: auto;
    text-align: center;
}

.selling-point_right {
    text-align: center;
    display: block;
    margin: 150px 110px 150px 200px;
}

.selling-point_left {
    text-align: center;
    display: block;
    margin: 150px 100px 150px 90px;
}
.sub-heading-homepage {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 30px 0px 0px 130px;
}

.list-films-row_homepage {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* || FILMS PAGE */

.list-films-row {
    max-width: 900px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 60px;
    text-align: center;
}

.list-films-row div {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap:5px;
}

.list-films-row a {
    padding: 0px
}

.film-title {
    font-size: 1.25rem;
    padding: 5px;
}

.text-wrap {
    display: block;
}

/* || DIV TEXT AND LINKS */

.signin-link {
    color: #A71515;
}

.film-category {
    font-size: 1rem;
}

/* || ABOUT PAGE */

.about_content {
    background-color: #EBEBEB;
    width: fit-content;
    display: flex;
    margin: auto;
    text-align: center;
    z-index: 2;
}

.w3-theme {
color: #fff !important;
background-color: #73AD21 !important;
z-index: 1;
}

/* || FORMS */

input,
textarea {
    display: block;
    border: 1px solid #4D4D4D;
    border-radius: 10px;
}

.input-label {
    font-size: 1.063rem;
    color: #4D4D4D;
}

legend {
    color: #4D4D4D;
    font-size: 1.25rem;
}

input[type="text"] {
    padding: 10px;
    width: 15%;
  }
  input[type="email"] {
    padding: 10px;
    width: 15%;
  }
  input[type="password"] {
    padding: 10px;
    width: 15%;
  }

.radio-button {
    display: list-item;
}

/* || FOOTER */

footer {
    text-align: center;
    color: #545454;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-text {
    font-size: 0.825rem;
}

.fa-brands {
    color: #949494;
    size: 30px 30px;
}