/* || GENERAL STYLES */

html {
    background-color: #000;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fff
}


main {
    background-color: #fff;
}

.logo {
    filter: none;
    width: 377px;
    border-radius: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 25px;
}

header {
    margin-top: 0px;
    background-color: #fff;
    z-index: 1;
}

.sticky-position {
    position: sticky;
    top: 0px;
    background: #fff;
    padding: 10px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1.125rem;
}

.text-700 {
    font-weight: 700;
}

.page-title {
    margin-left: 300px;
}

nav {
    text-decoration: none;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
}

.mycart-icon fa-solid {
    color: #000;
}

a {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}

.active {
    text-decoration: 3px underline; 
    text-decoration-color: #A71515;
}

.highlight {
    background-color: #EBEBEB;
    display: block;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}

/* || BUTTONS */

.cta {
    background-color: #A71515;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.cta-second {
    background-color: #706F6F;
    padding-left: 8px;
    padding-right: 8px;
}

.pay-button {
    padding-left: 40px;
    padding-right: 40px;
}

.back-button {
    text-decoration: none;
}

/* || IMAGES */

.filmcover-small {
    width: 200px;
    height: 320px
}

.filmcover-large {
    width: 360px;
    height: 477px;
}

.filmcover-product {
    width: 313px;
    height: 494px;
}

.about-image {
    filter: none;
    width: 310px;
    height: 452px;
}

.contact-map {
    filter: none;
    border: 2px solid #fff;
    width: 421px;
    height: 458px
}

img {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.50));
    border-radius: 30px;
}

/* || HOMEPAGE */

.container {
    display: flex;
    padding: 0px 150px; 
}

.position-right {
    position: absolute;
    text-align: center;
    top: 400px;
    left: 400px;
}

/* || FILMS PAGE */

.film-title {
    font-size: 1.25rem;
}

.list-films-row {
    max-width: 900px;
    display: flex;
    margin: 50px auto;
    text-align: center;
}

.list-films-row > * {
    flex: 1;
} 

/* || DIV TEXT AND LINKS */

.signin-link {
    color: #A71515;
}

.film-category {
    font-size: 1rem;
}

/* || FORMS */

input,
textarea {
    display: block;
    border: 1px solid #4D4D4D;
    border-radius: 10px;
}

.input-label {
    font-size: 1.063rem;
    color: #4D4D4D;
}

legend {
    color: #4D4D4D;
    font-size: 1.25rem;
}

input[type="text"] {
    padding: 10px;
    width: 15%;
  }
  input[type="email"] {
    padding: 10px;
    width: 15%;
  }
  input[type="password"] {
    padding: 10px;
    width: 15%;
  }

.radio-button {
    display: list-item;
}

/* || FOOTER */

footer {
    text-align: center;
    color: #545454;
    padding-top: 20px;
}

.footer-text {
    font-size: 0.825rem;
}

.fa-brands {
    color: #949494;
    size: 30px 30px;
}